.message {
}

.imageAndText {
    background: #0066CC;
    position: relative;
    width: 527px;
    height: 60px;
    left: 635px;
    top: 192px;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 14px;
    color: #FFFFFF;
}

.imageAndText img {
    position: relative;
    width: 48px;
    height: 48px;
    left: 530px;
    top: 10px
}

.text {
    position: relative;
    width: 510px;
    left: 10px;
    top: -50px;
}

.text:after {

}

.name {
    position: relative;
    left: 420px;
}

.messageText {
    white-space: pre-wrap;
    word-break: break-word;
}

.time {
    position: relative;
    width: 48px;
    height: 48px;
    left: 1170px;
    top: 194px;
    font-family: monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;

}