.stand {
    margin: 90px 106px 55px 70px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 132px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
