.radio {
    cursor: pointer;

}

.radio::before {

}


.radio:checked::before {

}


.label {
    cursor: pointer;
    display: flex;
    gap: 13px;
}


.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
