.clock {
}
.watch {
    font-weight: 400;
    font-size: 20px;
}
.watch strong {
}

.more {
    margin-bottom: 27px;
    font-weight: 400;
    font-size: 16px;
}

.buttonsContainer {
    display: flex;
    gap: 21px;
    flex-wrap: wrap;
}