.friendMessage {

}

.friendImageAndText {
    background: #F5F7FB;
    position: relative;
    width: 414px;
    height: 60px;
    left: 118px;
    top: 160px;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 14px;

}

.friendImageAndText img {
    position: relative;
    width: 48px;
    height: 48px;
    left: -51px;
    top: 10px;



}

.friendText {
    position: relative;
    width: 510px;
    left: 10px;
    top: -50px;
}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {
    position: absolute;
    width: 29px;
    height: 12px;
    left: 73px;
    top: 354px;
    font-family: monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    color: #000000;

}
