.sendForm {

}

.textarea {
    position: relative;
    width: 976px;
    height: 1240px;
    left: 70px;
    top: 240px;
    background: #F5F7FB;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 20px;
}

.button {
    position: relative;
    width: 120px;
    height: 40px;
    left: 100px;
    top: 240px;
    background: #0066CC;
    border-radius: 20px;
}

.button:hover {

}
.button:active {

}
